/* 
This is default and very simple styles file for Yasb. 
For more information about configuration options, please visit the Wiki https://github.com/amnweb/yasb/wiki
*/
:root {
	--mauve: #cba6f7;
	--red: #f38ba8;
	--yellow: #ffd16d;
	--blue: #448fff;
	--lavender: #b4befe;
	--text1: #d4d9eb;
	--text2: #8f929e;
	--text3: #9399b2;
	--text4: #7f849c;
	--bg-color1: #191919;
	--bg-color2: #333333;
}

* {
	font-size: 12px;
	color: var(--text1);
	font-weight: 600;
	font-family: "JetBrainsMono NFP";
}

.yasb-bar {
	background-color: var(--bg-color1);
	border: 1px solid var(--bg-color2);
}

/* Global styles for ToolTip */
.tooltip {
	background-color: var(--bg-color1);
	border-radius: 4px;
	color: var(--text1);
	padding: 5px 12px;
	font-size: 12px;
	font-family: 'Segoe UI';
	font-weight: 600;
	margin-top: 4px;
}

/* Global context menu style */
.context-menu,
.context-menu .menu-checkbox {
	background-color: var(--bg-color1);
	border: none;
	padding: 4px 0px;
	font-family: 'Segoe UI';
	font-size: 12px;
	color: var(--text1)
}

.context-menu::right-arrow {
	width: 8px;
	height: 8px;
	padding-right: 24px;
}

.context-menu::item,
.context-menu .menu-checkbox {
	background-color: transparent;
	padding: 6px 12px;
	margin: 2px 6px;
	border-radius: 6px;
	min-width: 100px;
}

.context-menu::item:selected,
.context-menu .menu-checkbox:hover {
	background-color: var(--bg-color2);
	color: var(--text1);
}

.context-menu::separator {
	height: 1px;
	background-color: var(--text4);
	margin: 4px 8px;
}

.context-menu::item:disabled {
	color: var(--text2);
	background-color: transparent;
}

.context-menu .menu-checkbox .checkbox {
	border: none;
	padding: 8px 16px;
	font-size: 12px;
	margin: 0;
	color: var(--text1);
	font-family: 'Segoe UI'
}

.context-menu .submenu::item:disabled {
	margin: 0;
	padding-left: 16px;
}

.context-menu .menu-checkbox .checkbox:unchecked {
	color: var(--text2)
}

.context-menu .menu-checkbox .checkbox::indicator {
	width: 12px;
	height: 12px;
	margin-left: 0px;
	margin-right: 8px;
}

.context-menu .menu-checkbox .checkbox::indicator:unchecked {
	background: var(--text3);
	border-radius: 2px;
}

.context-menu .menu-checkbox .checkbox::indicator:checked {
	background: var(--blue);
	border-radius: 2px;
}

.context-menu .menu-checkbox .checkbox:focus {
	outline: none;
}

.widget {
	padding: 0 4px;
	margin: 0;
}

.icon {
	font-size: 18px;
}

.widget .label {
	padding: 0px 2px;
}

.microphone-widget .icon {
	color: var(--blue);
}

.microphone-widget .icon.muted {
	color: var(--red);
}

.volume-widget .icon {
	color: var(--blue);
}

.volume-widget .icon.muted {
	color: var(--red);
}

.media-widget .btn {
	color: var(--text1);
	font-family: "JetBrainsMono NFP";
	font-weight: 400;
	font-size: 20px;
}

.media-widget .btn:hover {
	color: var(--text2);
}

.media-widget .btn.play {
	font-size: 24px;
	color: var(--blue);
}

.media-widget .btn.disabled:hover,
.media-widget .btn.disabled {
	color: var(--text4);
	background-color: rgba(0, 0, 0, 0);
	font-size: 20px;
}

.media-menu {
	min-width: 420px;
	max-width: 420px;
	background-color: var(--bg-color1);
	border-radius: 8px;
	border: 1px solid var(--bg-color2);
}

.media-menu .title,
.media-menu .artist,
.media-menu .source {
	font-size: 14px;
	font-weight: 600;
	margin-left: 10px;
	font-family: 'JetBrainsMono NFP'
}

.media-menu .artist {
	font-size: 13px;
	color: #6c7086;
	margin-top: 0px;
	margin-bottom: 8px;
}

.media-menu .source {
	font-size: 11px;
	color: #000;
	font-weight: normal;
	border-radius: 3px;
	background-color: #bac2de;
	padding: 2px 4px;

}

.media-menu .source.brave {
	background-color: #fb542b;
	color: var(--text1);
}

.media-menu .source.edge {
	background-color: #0078d4;
	color: var(--text1);
}

.media-menu .source.windows-media {
	background-color: #0078d4;
	color: var(--text1);
}

.media-menu .btn {
	font-family: "Segoe Fluent Icons";
	font-size: 14px;
	font-weight: 400;
	margin: 10px 2px 0px 2px;
	min-width: 40px;
	max-width: 40px;
	min-height: 40px;
	max-height: 40px;
	border-radius: 20px;
}

.media-menu .btn.prev {
	margin-left: 10px;
}

.media-menu .btn:hover {
	color: white;
	background-color: rgba(255, 255, 255, 0.1);
}

.media-menu .btn.play {
	background-color: rgba(255, 255, 255, 0.1);
	font-size: 20px
}

.media-menu .btn.disabled:hover,
.media-menu .btn.disabled {
	color: #4e525c;
	background-color: rgba(0, 0, 0, 0);
}

.media-menu .playback-time {
	font-size: 13px;
	font-family: 'Segoe UI';
	color: #7f849c;
	margin-top: 20px;
	min-width: 100px;
}

.media-menu .progress-slider {
	height: 10px;
	margin: 5px 4px;
	border-radius: 3px;
}

.media-menu .progress-slider::groove {
	height: 2px;
	border-radius: 3px;
	background: var(--bg-color2);

}

.media-menu .progress-slider::groove:hover {
	height: 6px;
	border-radius: 3px;
	background: var(--bg-color2);
}

.media-menu .progress-slider::sub-page {
	background: var(--text1);
	border-radius: 3px;
	height: 4px;
}

.notification-widget .icon.new-notification {
	color: var(--blue);
}

.calendar {
	background-color: var(--bg-color1);
	border-radius: 8px;
	border: 1px solid var(--bg-color2);
}

.calendar .calendar-table,
.calendar .calendar-table::item {
	background-color: rgba(17, 17, 27, 0);
	color: rgba(162, 177, 196, 0.85);
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

.calendar .calendar-table::item:selected {
	color: var(--bg-color1);
	background-color: var(--blue);
	border-radius: 8px;
}

.calendar .day-label {
	margin-top: 20px;
}

.calendar .day-label,
.calendar .month-label,
.calendar .date-label,
.calendar .week-label,
.calendar .holiday-label {
	font-family: "Segoe UI";
	font-size: 16px;
	color: var(--text1);
	font-weight: 700;
	min-width: 180px;
	max-width: 180px;
}

.calendar .week-label,
.calendar .holiday-label {
	font-size: 12px;
	font-weight: 600;
	color: var(--bg-color1);
}

.calendar .holiday-label {
	color: var(--red);
	font-weight: 700;
}

.calendar .month-label {
	font-weight: normal;
}

.calendar .date-label {
	font-size: 88px;
	font-weight: 900;
	color: var(--text1);
	margin-top: -20px;
}

.glazewm-binding-mode .icon {
	color: var(--blue);
}

.glazewm-tiling-direction .btn {
	font-size: 18px;
	color: var(--blue);
	border: none;
}

.glazewm-tiling-direction .btn:hover {
	color: var(--text1);
}

.glazewm-workspaces .ws-btn {
	background-color: transparent;
	border: none;
	padding: 4px;
	margin: 4px 0;
	color: var(--text1);
	border-radius: 8px;
}

/* .glazewm-workspaces .ws-btn .label { */
/* 	font-size: 14px; */
/* } */

.glazewm-workspaces .ws-btn.active_populated,
.ws-btn.populated {
	background-color: var(--text4);
}

.glazewm-workspaces .ws-btn.focused_populated {
	background-color: var(--blue);
}

.glazewm-workspaces .ws-btn.focused_populated .label {
	color: var(--text1);
}

.glazewm-workspaces .ws-btn.active_empty {
	background-color: var(--text4);
}

.glazewm-workspaces .ws-btn .label {
	color: var(--text1);
}

.glazewm-workspaces .ws-btn.focused_empty {
	color: var(--text1);
	background-color: var(--blue);
}

.glazewm-workspaces .ws-btn.focused_empty .label {
	color: var(--text1);
}

.glazewm-workspaces .ws-btn.empty {
	color: var(--text4);
}

.glazewm-workspaces .ws-btn:hover,
.glazewm-workspaces .ws-btn.populated:hover,
.glazewm-workspaces .ws-btn.empty:hover {
	color: var(--text1);
	background-color: var(--text4);
}

.systray .unpinned-container {
	background: var(--blue);
	border-radius: 8px;
	padding: 0 4px;
}

.systray .pinned-container[forceshow=true] {
	background: var(--red);
}

.systray .button {
	border-radius: 4px;
}

.systray .button:hover {
	background: var(--text4);
	padding: 4px;
}

.systray .button[dragging=true] {
	background: var(--yellow);
	padding: 4px;
}

.systray .unpinned-visibility-btn {
	border-radius: 8px;
	height: 22px;
	width: 22px;
	color: var(--blue);
}

.systray .unpinned-visibility-btn:checked {
	background: var(--blue);
	color: var(--text1);
}

.systray .unpinned-visibility-btn:hover {
	background: var(--text4);
	color: var(--text1);
}

.taskbar-widget .app-container {
	margin: 4px 0px;
	border-radius: 8px;
	padding: 0 4px;
}

.taskbar-widget .app-container .app-title {
	padding-left: 4px;
	font-size: 12px;
}

.taskbar-widget .app-container.foreground {
	background-color: var(--blue);
}

.taskbar-widget .app-container:hover {
	background: var(--text4);
}

.taskbar-widget .app-container.flashing {
	background-color: var(--red);
}
